body {
    max-width: 900px;
}

#preTwitter {
    background-color: #FFFFFF;
    z-index: 1;
    height: 100%;
    min-height: 12px;
    max-width: 800px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 6px;
    word-break: normal;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    margin: 0;
}

#prg_twitter {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 1px;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0;
    z-index: 2;
    resize: none;
    word-break: normal;
    font-size: 100%;
    max-width: 800px;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#prg_facebook {
    max-width: 800px;
    resize: none;
    height: 10em;
}

#prg_flickr {
    max-width: 800px;
    resize: none;
    height: 10em;
}


.my_span{
    background-color: red;
    color: #A3A3A3;
    text-decoration: line-through;
}

.imgs {
    max-height: 140px;
    max-width: 100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.picWithRadio {
    height: 170px;
}

.pic {
    height: 140px;
}

.select {
    height: 30px;
}

.rowPics {
    height: 170px;
}

#clearbot {
    height: 45px;
}

#btnSubmitSocial {
    position: fixed;
    bottom: 7px;
    right: 10px;
    z-index: 9999;
}

.label-primary {
    background-color: #FDBF45;
}

.btn-primary {
    background-color: #FDBF45;
    border-color: #FDB62C;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #FDB11D;
    border-color: #E99B03;
    color: #FFFFFF;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #FDBF45;
    border-color: #FDB62C;
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    z-index: 1101;
    display: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -safari-box-sizing: content-box;
    box-sizing: content-box;
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFF;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -safari-box-sizing: content-box;
    box-sizing: content-box;
}

#fancybox-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    outline: none;
    overflow: hidden;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -safari-box-sizing: content-box;
    box-sizing: content-box;
}

#preLinkedin {
    background-color: #FFFFFF;
    z-index: 1;
    height: 100%;
    min-height: 80px;
    max-width: 800px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 6px;
    word-break: normal;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    margin: 0;
}

#prg_linkedin {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 1px;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0;
    z-index: 2;
    resize: none;
    word-break: normal;
    font-size: 100%;
    max-width: 800px;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#prg_tumblr {
    max-width: 800px;
    resize: none;
    height: 10em;
}

#prg_storify {
    max-width: 800px;
    resize: none;
    height: 10em;
}

#prg_googleplus {
    max-width: 800px;
    resize: none;
    height: 10em;
}

#prePinterest {
    background-color: #FFFFFF;
    z-index: 1;
    height: 100%;
    min-height: 80px;
    max-width: 800px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 6px;
    word-break: normal;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    margin: 0;
}

#prg_pinterest {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 1px;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0;
    z-index: 2;
    resize: none;
    word-break: normal;
    font-size: 100%;
    max-width: 800px;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#preXing {
    background-color: #FFFFFF;
    z-index: 1;
    height: 100%;
    min-height: 12px;
    max-width: 800px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 6px;
    word-break: normal;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    margin: 0;
}

#prg_xing {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 1px;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0;
    z-index: 2;
    resize: none;
    word-break: normal;
    font-size: 100%;
    max-width: 800px;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#preDiigo {
    background-color: #FFFFFF;
    z-index: 1;
    height: 100%;
    min-height: 80px;
    max-width: 800px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 6px;
    word-break: normal;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    margin: 0;
}

#prg_diigo {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 1px;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0;
    z-index: 2;
    resize: none;
    word-break: normal;
    font-size: 100%;
    max-width: 800px;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#urlTwit {
    z-index: 0;
}

.divOverUrl {
    /*background-color: blue;*/
    bottom: 27px;
    height: 1.3em;
    left: 28px;
    position: absolute;
    z-index: 20;
}

.divOverUrlXing {
    /*background-color: blue;*/
    bottom: 27px;
    height: 1.3em;
    left: 28px;
    position: absolute;
    z-index: 20;
}

#dblClickInfo {
    position: absolute;
    z-index: 20;
    left: 28px;
    font-size: 70%;
    font-style: italic;
    bottom: 17px;
    left: 35px;
    color: grey;
}

#dblClickInfoXing {
    position: absolute;
    z-index: 20;
    left: 28px;
    font-size: 70%;
    font-style: italic;
    bottom: 17px;
    left: 35px;
    color: grey;
}

.tagsTumblr {
    margin-top: 13px;
}

.administrative-label {
    background-color: #9E0000;
    border-color: #AB0000;
}

.administrative:hover,
.administrative:focus,
.administrative:active {
    background-color: #AB1B1B;
    border-color: #AB1B1B;
}

.userbtn {
    background-color: #79B331;
    border-color: #64B331;
}

.userbtn:hover,
.userbtn:focus,
.userbtn:active {
    background-color: #93C754;
    border-color: #93C754;
}